@model IEnumerable<AppData.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Hóa đơn</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                    @Html.ActionLink("Huỷ", "Update", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
